h1 {
    color: rgb(100,25,150)
}
body{
    background-color: #5A1400
}
.header{
    background-color: #005A00
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.Item{
    border: solid;
}